body {
  font-family: sans-serif;
}
.nav {
  background: white;
  text-align: center;
  position: fixed;
  width: 100%;
  color: #1F1F1F;
  padding-top: 32px;
  padding-bottom: 32px;
}
.bandera {
  width: 35px;
  height: 25px;
}
a {
  color: #1F1F1F;
  font-family: sans-serif;
}
.borde {
  border-right: 1px solid;
}
.banner {
  height: 30em;
  width: 100%;
  margin-top: 7.5em;  
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("img/1.png");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 7%;
  position: absolute;
}
.titulo {
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: 700;
  line-height: 1em;
  color: white;
}
.subtitulo {
  font-size: 1.4em;
  font-weight: 300px;
}
button {
  padding: 19px;
  margin: 19px;
  position: relative;
  top: 470px;
  border: 0px;
}
.botones {
  text-align: center;
}
.descubre {
  background: white;
  color: #1F1F1F;
  border-radius: 5px;
  box-shadow: 0 0 5px #727176;
}
.aplica {
  background: #64B0D2;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #727176;
}
.informacion{
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  color: #001C2A;
  font-weight: 700;
  margin-top: 500px;
}
.bloques{
  text-align: center;
  
}

.cuadros {
  display: inline-block;
  margin: 36px;
  font-size: 1.5em;
  padding: 24px 12px;
  width: 168px;
  height: 168px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #727176;
  text-align: center;
}

.azul {
  display: inline-block;
  margin: 36px;
  font-size: 1.5em;
  padding: 24px 12px;
  width: 168px;
  height: 168px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #727176;
  text-align: center;
  background: #001c2a;
  color: white;
  background-image: url(img/46.png);
  background-repeat: no-repeat;
  background-position: 95% 95%;
}